<div id="main" class="container py-11">
  <div class="col-12 text-center">
  <br>
    <h3>Vos Paramètres</h3>
    <div>
    </div>
      <p>Monnaie: <%= current_user.setting.devise%></p>
      <p>Montant: <%= current_user.setting.amount_due%></p>
  </div>
</div>